{% extends "master.html" %}

{% block title %}
  HempDB - About
{% endblock %}


{% block content %}
  <h1 class="d-flex justify-content-center m-5">About Us</h1>
  <hr>
  <div class="text-wrap w-95 m-4">
    <p class="m-4">
      {{ about|linebreaks }}
    </p>
    <p>If you have any questions or would be interested in contributing to the IHDB, please contact CMCI at cmci@bus.oregonstate.edu</p>
  </div>
  <hr>
  <div class="text-wrap w-95 m-4">
    <p>This website was made by the following individuals as part of the Oregon State University Senior Capstone Project:</p>
    <p><strong>2023-2024: </strong>Zachary Smith, Dylan Meithof, Gabriele Falchini, Paul Lipp.</p>
    <p><strong>2024-2025: </strong>Cameron Canfield, Colton Melhase, Joshua Henninger, Mason Rosenau, Stryder Garrett, Tanner Choy</p>
  </div>
{% endblock %}
