{% extends "master.html" %}

{% block title %}
  HempDB - About
{% endblock %}


{% block content %}
  <h1 class="d-flex justify-content-center m-5">About Us</h1>
  <hr />
  <div class="text-wrap w-75">
    <p class="m-4" >The development of the Industrial Hemp Database (IHDB) is supported by USDA AFRI SAS Grant# 2021-68012-35957. </p>
    <p class="m-4">This database was created using public archives and State government records, combined with an existing database created by Dr. Tyler Marks (University of Kentucky), to collate information on the various companies in the industrial and chemical hemp industries, which have increased in number significantly since the passing of the 2018 Farm Bill. This database is meant to be shared with researchers also mapping the hemp industry to foster collaboration.  </p>
    <p class="m-4">The database focuses on identifying key stakeholders in the hemp biobased economy, organizing the stakeholders into groups based on their position in the value chain, determining what solutions are offered by their products and/or services, and continuously updating and tracking these companies for the duration of the grant. The goal is to use this data to identify and map key consumer markets and establish optimized pathways to accelerate the adoption of industrial hemp. </p>
    <p class="m-4">For the purposes of this database, industrial hemp refers to hemp grown for the purpose of decortication — separation of the bast fiber and hurd — and grain usage. Companies in this category are the main focus of this project. Chemical hemp refers to hemp grown for its chemical compounds, such as THC, CBD, CBG, etc., which are often included in vapes, gummies, infusions, and similar products. This category also includes cannabis flowers and hemp seed oil used in personal care products.  </p>
    <p class="m-4">If you have any questions or would be interested in contributing to the IHDB, please contact CMCI at cmci@bus.oregonstate.edu  </p>
    <p class="m-4">This website was made by Zachary Smith, Dylan Meithof, Gabriele Falchini, and Paul Lipp, as part of a Oregon State University Senior Capstone Project </p>
  </div>
{% endblock %}
 

