{% extends "master.html" %}

{% block title %}
  HempDB - About
{% endblock %}


{% block content %}
  <h1 class="d-flex justify-content-center m-5">About Us</h1>
  <hr />
  <div class="text-wrap w-75">
    <p class="m-4">
      {{ about|linebreaks }}
    </p>
    <p class="m-4">If you have any questions or would be interested in contributing to the IHDB, please contact CMCI at cmci@bus.oregonstate.edu  </p>
    <p class="m-4">This website was made by Zachary Smith, Dylan Meithof, Gabriele Falchini, and Paul Lipp, as part of a Oregon State University Senior Capstone Project </p>
  </div>
{% endblock %}
 

