{% extends "master.html" %}
{% load crispy_forms_tags %}
{% block title %}
  HempDB - Admin Tools
{% endblock %}

{% block content %}

  {% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 40vw; margin-left: 20px; margin-top: 10px;">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none;">{{ message }}</li>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <div class="btn-group" style="display: block;" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" data-bs-toggle="modal" data-bs-target="#createModal">Create</button>
  </div>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Resource Type</th>
        <th scope="col">Title</th>
        <th scope="col">Url</th>
        <th scope="col">Text</th>
        <th scope="col">Image URL</th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          <td>{{ row.type }}</td>
          <td>{{ row.title }}</td>
          <td>{{ row.url }}</td>
          <td>{{ row.text|truncatechars:100 }}</td>
          <td>{{ row.image }}</td>
          <td>
            <div style="display: flex; gap: 5px;">
              <a href="{% url 'edit-resource' row.id %}" class="btn btn-secondary">Edit</a>
              <a type="button" class="btn btn-danger" href="/remove_resource/{{ row.id }}" onclick="return confirm('Are You Sure You Would Like To Delete This?')"> 
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
              </svg>
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="modal" id="createModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form id="upload_form" method="post" action="/admin_tools/">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="modalFooter">
              <button type="submit" class="btn btn-danger modalButton" data-bs-dismiss="modal"  value="Submit">Submit</button>
              <button type="button" class="btn btn-danger modalButton" data-bs-dismiss="modal" >Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}