{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block title %}
  HempDB - Categories
{% endblock %}

{% block content %}

  <div class="btn-group" style="display: block;" role="group" aria-label="Button group with nested dropdown">
    {% if perms.helloworld.add_category %}
      <button type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" data-bs-toggle="modal" data-bs-target="#createModal">Create</button>
    {% endif %}
    {% if perms.helloworld.view_category %}
    <a href="{% url 'export-categories' %}" class="btn btn-secondary rounded-pill mx-3 my-2 px-3">Export</a>
    {% endif %}
  </div>

  {% include "table.html" %}

  <div class="modal" id="createModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form id="upload_form" method="post" action="/categories/">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="modalFooter">
              <button type="submit" class="btn btn-danger modalButton" data-bs-dismiss="modal"  value="Submit">Submit</button>
              <button type="button" class="btn btn-danger modalButton" data-bs-dismiss="modal" >Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}