{% extends "master.html" %}

{% block title %}
  Hemp Stakeholder Database
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'admin/css/companies.css' %}">

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" data-bs-toggle="modal" data-bs-target="#createModal">Create</button>
  <button type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" data-bs-toggle="modal" data-bs-target="#importModal">Import</button>
  <button type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" data-bs-toggle="modal" data-bs-target="#exportModal">Export</button>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary mx-3 my-2 px-3 rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Filters
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
    </ul>
  </div>
</div>



<div class="container" style="margin-top: 100px;">

    <div class="row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
          Company ID
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
           {{ company.id }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Company Name
          </div>
          <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Name }}
          </div>

          <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Industry
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Industry }}
        </div>
        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Status
          </div>
        <div class="p-2 w-25 d-flex border justify-content-end" style="{% if company.Status == 'Active' %}color:green{% else %}color:red{% endif %}">
            <b>{{ company.Status }}</b>
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Company Info
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Info }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Headquarters
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Headquarters }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Sales
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Sales }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Product
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Product }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            City
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.City }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            State
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.State }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Country
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Country}}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Solutions
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Solutions.solution }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Website
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Website }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Category
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Category.category }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Stakeholder
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.stakeholderGroup.stakeholderGroup }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Stage
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Stage.stage }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            productGroup
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.productGroup.productGroup }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Products
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Products }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

       <div class=" row inline-block justify-content-center">
            <div class="col-sm-2 p-2 border fw-bold">
                sasContact
            </div>
            <div class="p-2 w-25 d-flex border justify-content-end">
                {{ company.sasContact }}
            </div>

                    <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Description
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Description }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            pubPriv
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.pubPriv }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Ticker
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Ticker }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Naics
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Naics }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Phone
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Phone }}
        </div>

                <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Email
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Email }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Stakeholder
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Stakeholder }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
  
        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Principal
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Principal }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Founded
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Founded }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Employees
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Employees }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            parentCompany
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.parentCompany }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
 
        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            onMarket
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.onMarket }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            productName
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.productName }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            SKU
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.SKU }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Notes
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.Notes }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            salesRev
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.salesRev }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            processingFocus
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.processingFocus.processingFocus }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>


      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            facilitySize
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.facilitySize }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            biomassCap
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.biomassCap }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            extractionType
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.extractionType.extractionType }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            GMP
        </div> 
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.GMP }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            News
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.news }}
        </div>

        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>
 
        
      </div>

      <div class=" row inline-block justify-content-center">
        <div class="col-sm-2 p-2 border fw-bold">
            Reviews
        </div>
        <div class="p-2 w-25 d-flex border justify-content-end">
            {{ company.reviews }}
        </div>   
        
        <div class="col-1 p-2 text-center">
            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
        </div>

      </div>
    </div>
</div>

<div class="container" style="margin-top: 100px;">

</div>

 
{% endblock %}