{% extends "master.html" %}

{% block title %}
  Hemp Stakeholder Database
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'admin/css/companies.css' %}">

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" data-bs-toggle="modal" data-bs-target="#createModal">Create</button>
  <button type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" data-bs-toggle="modal" data-bs-target="#importModal">Import</button>
  <button type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" data-bs-toggle="modal" data-bs-target="#exportModal">Export</button>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary mx-3 my-2 px-3 rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Filters
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
      <li><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault">Status</li>
    </ul>
  </div>
</div>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">   </th>
        <th scope="col">Company ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Industry</th>
        <th scope="col">Status</th>
        <th scope="col">Info</th>
        <th scope="col">Headquarters</th>
        <th scope="col">Sales</th>
        <th scope="col">Product</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Country</th>
        <th scope="col">Solutions</th>
        <th scope="col">Website</th>
        <th scope="col">Category</th>
        <th scope="col">stakeholderGroup</th>
        <th scope="col">Stage</th>
        <th scope="col">productGroup</th>
        <th scope="col">Products</th>
        <th scope="col">sasContact</th>
        <th scope="col">Description</th>
        <th scope="col">pubPriv</th>
        <th scope="col">Ticker</th>
        <th scope="col">Naics</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Stakeholder</th>
        <th scope="col">Principal</th>
        <th scope="col">Founded</th>
        <th scope="col">Employees</th>
        <th scope="col">parentCompany</th>
        <th scope="col">onMarket</th>
        <th scope="col">productName</th>
        <th scope="col">SKU</th>
        <th scope="col">Notes</th>
        <th scope="col">salesRev</th>
        <th scope="col">processingFocus</th>
        <th scope="col">facilitySize</th>
        <th scope="col">biomassCap</th>
        <th scope="col">extractionType</th>
        <th scope="col">GMP</th>
        <th scope="col">news</th>
        <th scope="col">reviews</th>
      </tr>
    </thead>
    <tbody>
      {% for company in companies %}
        <tr>
          <th scope="row"><inputt class="form-check-inputt" type="checkbox" value="" id="flexCheckDefault"></th>
          <td>{{ company.id }}</td>
          <td>{{ company.Name }}</td>
          <td>{{ company.Industry }}</td>
          <td style="{% if company.Status == 'Active' %}color:green{% else %}color:red{% endif %}"><b>{{ company.Status }}</b></td>
          <td>{{ company.Info }}</td>
          <td>{{ company.Headquarters }}</td>
          <td>{{ company.Sales }}</td>
          <td>{{ company.Product }}</td>
          <td>{{ company.City }}</td>
          <td>{{ company.State }}</td>
          <td>{{ company.Country }}</td>
          <td>{{ company.Solutions.solution }}</td>
          <td>{{ company.Website }}</td>
          <td>{{ company.Category.category }}</td>
          <td>{{ company.stakeholderGroup.stakeholderGroup }}</td>
          <td>{{ company.Stage.stage }}</td>
          <td>{{ company.productGroup.productGroup }}</td>
          <td>{{ company.Products }}</td>
          <td>{{ company.sasContact }}</td>
          <td>{{ company.Description }}</td>
          <td>{{ company.pubPriv }}</td>
          <td>{{ company.Ticker }}</td>
          <td>{{ company.Naics }}</td>
          <td>{{ company.Phone }}</td>
          <td>{{ company.Email }}</td>
          <td>{{ company.Stakeholder }}</td>
          <td>{{ company.Principal }}</td>
          <td>{{ company.Founded }}</td>
          <td>{{ company.Employees }}</td>
          <td>{{ company.parentCompany }}</td>
          <td>{{ company.onMarket }}</td>
          <td>{{ company.productName }}</td>
          <td>{{ company.SKU }}</td>
          <td>{{ company.Notes }}</td>
          <td>{{ company.salesRev }}</td>
          <td>{{ company.processingFocus.processingFocus }}</td>
          <td>{{ company.facilitySize }}</td>
          <td>{{ company.biomassCap }}</td>
          <td>{{ company.extractionType.extractionType }}</td>
          <td>{{ company.GMP }}</td>
          <td>{{ company.news }}</td>
          <td>{{ company.reviews }}</td>
 

          <td><button type="button" class="btn btn-secondary">Edit</button></td>
          <td><a type="button" class="btn btn-danger" href="/remove_companies/{{ company.id }}"> 
            <!-- Delete -->
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
            </svg>
          </a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="modal" id="createModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Create</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <form id="upload_form" method="post" action="/companies/">

          {% csrf_token %}
          <div id="formFieldContainer">
            {% for field in form %}
              <p> {{ field.label_tag }} </p>
              <p id="formEntryField"> {{ field }} </p>
            {% endfor %}
          </div>
        </form>

        <div class="modalFooter">
          <button type="submit" class="btn btn-danger modalButton" data-bs-dismiss="modal"  value="Submit">Submit</button>
          <button type="button" class="btn btn-danger modalButton" data-bs-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="importModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Import</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          Select file: 
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit">Upload File</button>
          </form>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

  <div class="modal" id="exportModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Export</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          <span>Export Method:</span>
          <span>Format:</span> 
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
{% endblock %}