{% extends "master.html" %}

{% block title %}
  HempDB
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px;">
    <h1 class="d-flex justify-content-center mb-2">{{ change.company.Name }}</h1>
    <h3 class="d-flex justify-content-center mb-5">Change Type: {{ change.changeType }}</h3>
    <hr />
    {% if user.is_staff and change.status == "P" %}
    <a type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" href="/changes"> Back </a>
    <a type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" href="{% url 'company-pending-approve' change.id %}"> Approve </a>
    <a type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" href="{% url 'company-pending-reject' change.id %}"> Reject </a>
    {% endif %}

    {% if change.changeType == "edit" %}
        {% include "pending_changes_views/edit_change.html" %}
    {% elif change.changeType == "create" %}
        {% include "pending_changes_views/create_change.html" %}
    {% elif change.changeType == "deletion" %}
        {% include "pending_changes_views/delete_change.html" %}
    {% else %}
        <p>Unknown change type.</p>
    {% endif %}

</div>
 
{% endblock %}