{% extends "master.html" %}

{% block title %}
  HempDB - Contribute
{% endblock %}


{% block content %}
  <div class="text-wrap" style="margin: 25px 45px;">
    <h1 style="display: flex; justify-content: center; margin: 10px;">
      Contributions
    </h1>
    <hr />
    <p style="width: 70vw;">
      If you have any questions or would be interested in contributing to the IHDB, please contact the Center for Marketing and Consumer Insights at cmci@bus.oregonstate.edu. 
    </p>
    <a href="mailto:cmci@bus.oregonstate.edu" class="btn btn-primary" style="margin-bottom: 20px;">Email CMCI</a>
    <p>
      If you're interested in contributing to the website, please open an issue on Github
    </p>
    <a href="https://github.com/cmciosu/hemp-db/issues" class="btn btn-primary" style="margin-bottom: 20px;" target="_blank">HempDB on GitHub</a>
  </div>
{% endblock %}