{% extends "master.html" %}

{% block title %}
  Hemp Stakeholder Database
{% endblock %}

{% block content %}

  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 40vw; margin-left: 20px; margin-top: 10px;">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none;">{{ message }}</li>
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  <h4 class="modal-title">Edit</h4>

  <p>
    * = required
  </p>

  <form id="upload_form" method="post" action="{% url 'edit-resource' resource.id %}">

    {% csrf_token %}
    <div style="display: block; margin-left: 10px; margin-right: 10px;">
      {% for field in form %}
        {% if field.field.required %}
          <p>* {{ field.label_tag }}</p>
        {% else %}
          <p> {{ field.label_tag }} </p>
        {% endif %}
        <p> {{ field }} </p>
      {% endfor %}

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <p> {{ error }} </p>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="modalFooter">
      <button type="submit" class="btn btn-danger" value="Submit" style="float: right; margin: 5px;">Submit</button>
    </div>
  </form>

{% endblock %}