{% extends "master.html" %}

{% block title %}
  Hemp Stakeholder Database
{% endblock %}


{% block content %}
  <h1 style="margin: 25px 45px;">HEMP STAKEHOLDER DATABASE</h1>
  <div>
    <p style="margin: 10px 45px;">In recent years, there has been a growing trend for the industrialization of commercial hemp use. The everyday products that we use on a day-to-day basis can be simply made of hemp such as; rope, jewelry, plastics, paper, building materials, fuel, consumer goods, beauty products, food, etc. There have been many business start-ups all over the country just in the last few years alone</p>
    <p style="margin: 10px 45px;">Researchers at the Center for Marketing and Consumer Insights Research Lab have been working on collecting data on the hemp industry, including an index of companies in the space, their products, and other basic company information, in hopes of providing more insight into the growing space.</p>
  </div>
{% endblock %}
 