{% extends "master.html" %}

{% block title %}
  HempDB - Map
{% endblock %}

{% block content %}

  {{ companies|json_script:"company_data"}}

  <div id="map" style="height: 700px;"></div>
  <script>
    
    // Create standard and satellite base layers
    var osmStandard = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 16,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors<br>'
    });
    var usgsSatellite = L.tileLayer('https://basemap.nationalmap.gov/arcgis/rest/services/USGSImageryTopo/MapServer/tile/{z}/{y}/{x}', {
      maxZoom: 16,
	    attribution: 'Tiles courtesy of the <a href="https://usgs.gov/">U.S. Geological Survey</a>'
    });

    // Create Leaflet map
    var map = L.map('map', {
      center: [39.833, -98.583],
      zoom: 4,
      layers: [osmStandard] // Default base layer
    });

    // Add base layer titles/layers to obj and add to map
    var baseMaps = {
      "OSM Standard": osmStandard,
      "USGA Satellite": usgsSatellite
    };
    var layerControl = L.control.layers(baseMaps).addTo(map);


    // Add custom text instructions to the top-left corner
    const customText = L.control({ position: 'topleft' });
    customText.onAdd = () => {
        const p = L.DomUtil.create('p');
        p.innerHTML = `Marker locations may be inaccurate.<br> 
                      Click markers for up to date locations.`;
        return p;
    };
    customText.addTo(map);

    // Extract company data from json_script template filter above
    const companies = JSON.parse(document.getElementById('company_data').textContent);

    // Create marker cluster group and add marker for each company
    var markers = L.markerClusterGroup();

    companies.forEach(company => {
      var marker = L.marker([company.Latitude, company.Longitude], {
        title: company.Name // Hover value
      });

      // Create popup content for clicking markers
      var popupContent = `<b><a href="https://hempdb.vercel.app/companies/${company.id}">${company.Name}</a></b><br>
                          Location: ${company.Location}<br>`;
      if (company.Phone) { 
        popupContent += `Phone: ${company.Phone}<br>`;
      }
      if (company.Website) { 
        popupContent += `Website: <a href="${company.Website}" target="_blank">${company.Website}</a><br>`;
      }
      marker.bindPopup(popupContent);
      markers.addLayer(marker);
    });

    // Add the cluster group to the map
    map.addLayer(markers);
  </script>
{% endblock %}