<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap">
  </head>
  <main style="display: flex; flex-direction: column; min-height: 100vh; margin: 0; font-family: 'Inter', sans-serif;">
    {% include "navbar.html" %}
    
    <body style="flex: 1; font-family: 'Inter', sans-serif;" class="bg-light bg-gradient">
      {% block content %}
      {% endblock %}
    </body>

    <div style="flex: 1;"></div> 
    
    <footer style="height: 70px;">
      <ul class="nav justify-content-center border-top pt-3 mt-3 bg-success bg-gradient">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-body-secondary text-white"> Home </a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link px-2 text-body-secondary text-white"> About </a>
        </li>
        <li class="nav-item">
          <a href="/contribute" class="nav-link px-2 text-body-secondary text-white"> Contribute </a>
        </li>
      </ul>
    </footer>
  </main>

</html>