<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <main style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    <nav class="navbar navbar-expand-sm bg-success bg-gradient bg-subtle navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link-light navbar-brand text-light" href="/">HempDB</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Databases
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/companies">Companies</a>
              {% if user.is_staff %}
                <a class="dropdown-item" href="/solutions">Solutions</a>
                <a class="dropdown-item" href="/categories">Categories</a>
                <a class="dropdown-item" href="/stakeholder-groups">Stakeholder Groups</a>
                <a class="dropdown-item" href="/stages">Stages</a>
                <a class="dropdown-item" href="/product-groups">Product Groups</a>
                <a class="dropdown-item" href="/status">Status</a>
                <a class="dropdown-item" href="/grower">Grower</a>
                <a class="dropdown-item" href="/industry">Industry</a>
              {% endif %}
            </div>
          </li>
          {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link link-light px-4 text-light" href="/changes">Changes</a>
            </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown" style="list-style-type: none;">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hello, {{ user.get_username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_staff %}
                <a class="dropdown-item" href="/admin">Admin</a>
              {% endif %}
              <a class="dropdown-item" href="/user/logout">Log out</a>
            </div>
          </li>
        {% else %}
          <a class="nav-link link-light" href="/user/login">Log in</a>
        {% endif %}  
      </div>
    </nav>
    
    <body style="flex: 1;">
      {% block content %}
      {% endblock %}
    </body>

    <div style="flex: 1;"></div> 
    
    <footer style="height: 70px;">
      <ul class="nav justify-content-center border-top pt-3 mt-3 bg-success bg-gradient">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-body-secondary text-white"> Home </a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link px-2 text-body-secondary text-white"> About </a>
        </li>
        <li class="nav-item">
          <a href="/contribute" class="nav-link px-2 text-body-secondary text-white"> Contribute </a>
        </li>
      </ul>
    </footer>
  </main>

</html>