{% if changes_list|length == 0 %}
  <p class="text-center">No changes available.</p>
{% else %}
  {% for company, changes in changes_list.items %}
    <div class="accordion mb-3" id="{{ change_tag }}{{ company.id }}ChangesAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ change_tag }}{{ company.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ change_tag }}{{ company.id }}" aria-expanded="false" aria-controls="collapse-{{ change_tag }}{{ company.id }}">
                    {{ company.Name}} ({{changes|length}})
                </button>
            </h2>
            <div id="collapse-{{ change_tag }}{{ company.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ change_tag }}{{ company.id }}" data-bs-parent="#{{ change_tag }}{{ company.id }}ChangesAccordion">
                <div class="accordion-body">
                    {% if changes|length == 0 %}
                      <p class="text-center">No changes for this company.</p>
                    {% else %}
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                          <thead class="table-light">
                            <tr>
                              <th scope="col">Change ID</th>
                              <th scope="col">Type</th>
                              <th scope="col">Author</th>
                              <th scope="col">Timestamp</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for change in changes %}
                              <tr onclick="window.location.href='{% url 'company-view-pending' change.id %}';" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#dbd9d9';" onmouseout="this.style.backgroundColor='';">
                                <td><a href="{% url 'company-view-pending' change.id %}">{{ change.id }}</a></td>
                                <td>{{ change.changeType }}</td>
                                <td>{{ change.author.username }}</td>
                                <td>{{ change.created_at }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
{% endif %}
